<template>
    <line
        :x1="coordinates.startX"
        :y1="coordinates.startY"
        :x2="coordinates.targetX"
        :y2="coordinates.targetY"
        :stroke-width="strokeWidth"
        stroke="black"
        v-show="!edge.isHidden"
        v-b-tooltip.hover :title="edgeTitle">
    </line>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import GraphEdge from "@/model/GraphEdge";
    import {CONSTANTS} from "@/Constants";

    @Component({
        components: {

        },
    })
    export default class EdgeComponent extends Vue {
        @Prop() private edge!: GraphEdge;
        @Prop() private archetypeName!: string;
        @Prop() private relationDescription!: string;

        // private strokeWidth: number = CONSTANTS.EDGE_STROKE_WIDTH_DEFAULT;

        get coordinates() {
            return this.edge.coordinates;
        }

        get edgeTitle() {
            return `${this.archetypeName} (x${this.edge.originalEdges.length})`;
            // return `(${this.archetypeName}) ${this.relationDescription}`;
        }

        get strokeWidth() {
            return CONSTANTS.EDGE_STROKE_WIDTH_DEFAULT + Math.log2(Math.min(32, this.edge.originalEdges.length));
        }
    }
</script>

<style scoped>
    line:hover {
        stroke: #f7444e;
    }
</style>
