<template>
    <svg :viewBox="viewBoxParams" class="graph-svg">
        <NodeComponent v-for="node in graph.nodes" :node="node" :key="'N' + node.id"
                       :archetypeName="getNodeArchetypeName(node)"
                       :isSelected="selectedNodeId === node.id"
                       @selected="onNodeSelected($event)"
                       @expand="expandGraph($event)">
        </NodeComponent>
        <EdgeComponent v-for="edge in graph.edges" :edge="edge" :key="'E' + edge.id"
                        :archetypeName="getEdgeArchetypeName(edge)"
                        :relationDescription="getEdgeDescription(edge)">
        </EdgeComponent>
    </svg>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import Graph from "@/model/Graph";
    import {CONSTANTS} from "@/Constants";
    import NodeComponent from "@/components/graph/NodeComponent.vue";
    import EdgeComponent from "@/components/graph/EdgeComponent.vue";
    import IArchetype from '@/model/IArchetype';
    import IAttribute from '@/model/IAttribute';
    import GraphNode from "@/model/GraphNode";
    import GraphEdge from '@/model/GraphEdge';

    @Component({
        components: {
            EdgeComponent,
            NodeComponent,
        },
    })
    export default class GraphComponent extends Vue {
        @Prop() private graph!: Graph;
        @Prop() private nodeArchetypes!: IArchetype[];
        @Prop() private edgeArchetypes!: IArchetype[];
        @Prop() private attributeTypes!: IAttribute[];
        @Prop() private selectedNodeId!: number;

        private viewBoxWidth: number = CONSTANTS.SVG_VIEW_BOX_WIDTH;
        private viewBoxHeight: number = CONSTANTS.SVG_VIEW_BOX_HEIGHT;
        private defaultNodeRadius: number = CONSTANTS.NODE_RADIUS_DEFAULT;

        getNodeArchetypeName(node: GraphNode): string {
            const archetype = this.nodeArchetypes[node.archetype];
            return archetype ? archetype.name : '';
        }

        getEdgeArchetypeName(edge: GraphEdge): string {
            const archetype = this.edgeArchetypes[edge.archetype];
            return archetype ? archetype.name : '';
        }

        getEdgeDescription(edge: GraphEdge): string {
            return edge.attributes[this.relationAttributeIndex];
        }

        get relationAttributeIndex(): number {
            return this.attributeTypes.findIndex((a) => a.name === "Relation");
        }

        get viewBoxParams(): string {
            return `${-this.margin} ${-this.margin} ${this.viewBoxWidth} ${this.viewBoxHeight}`;
        }

        get margin(): number {
            return 2 * this.defaultNodeRadius;
        }

        onNodeSelected(event: any) {
            this.$emit("selected", event);
        }

        expandGraph(event: any) {
            this.$emit("expand", event);
        }
    }
</script>

<style scoped>
    .graph-svg {
        width: 90vh;
        height: 90vh;
        background: #f7f8f3;
    }
</style>
