<template>
    <g class="node" v-show="!node.isHidden" v-b-tooltip.hover :title="nodeTitle"
       @click="handleClick" @dblclick="handleDoubleClick">
        <circle
            :cx="node.centerX"
            :cy="node.centerY"
            :r="node.radius"
            :stroke-width="strokeWidth" :stroke="node.isExpandable ? 'black' : ''" fill="#999"
            :class="{selected: isSelected}">
        </circle>
        <foreignObject v-if="iconClass" :x="node.centerX - 12" :y="node.centerY - 12" width="24" height="24">
            <i :class="iconClass"></i>
        </foreignObject>
    </g>

</template>

<script lang="ts">
    import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
    import GraphNode from "@/model/GraphNode";
    import {CONSTANTS} from "@/Constants";

    @Component({
        components: {

        },
    })
    export default class NodeComponent extends Vue {

        @Prop() private node!: GraphNode;
        @Prop() private archetypeName!: string;
        @Prop() private isSelected!: boolean;

        private strokeWidth: number = CONSTANTS.NODE_STROKE_WIDTH_DEFAULT;
        private attributeIcons: any = CONSTANTS.ARCHETYPE_ICONS;

        get nodeTitle() {
            return `(${this.archetypeName}) ${this.node.name}`;
        }

        get strokeColor() {
            return this.node.isFocusNode ? 'darkorange' : '';
        }

        get iconClass() {
            const iconType = this.attributeIcons[this.archetypeName];
            return iconType ? `im im-${iconType} ${this.node.isFocusNode ? 'icon-highlighted' : ''}` : '';
        }

        handleClick() {
            this.$emit('selected', this.node);
        }

        handleDoubleClick() {
            if (this.node.isExpandable) {
                this.$emit('expand', this.node.id);
            }
        }
    }
</script>

<style scoped>
    .node:hover circle, circle.selected {
        fill: #78bcc4;
    }
    .icon-highlighted {
        color: darkorange;
    }
</style>
