<template>
    <div class="info-table">
        <b-table striped
                 :items="nodeAttributes"
                 :fields="fieldDefinitions"
                 v-if="selectedNode"
        ></b-table>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import GraphNode from "@/model/GraphNode";
    import IAttribute from '@/model/IAttribute';
    import * as _ from 'lodash';

    @Component({
        components: {}
    })
    export default class InfoView extends Vue {

        @Prop() private selectedNode: GraphNode | null = null;
        @Prop() private attributeTypes: IAttribute[] = [];

        get fieldDefinitions() {
            return {
                name: {
                    label: "parameter",
                    sortable: true
                },
                value: {
                    label: "value"
                }
            };
        }

        get nodeAttributes() {
            if (!this.selectedNode) {
                return {};
            }
            return _.map(
                _.toPairs(_.mapKeys(
                    this.selectedNode.attributes,
                    (value, key: number) => this.attributeTypes[key].text != "" ?
                        this.attributeTypes[key].text : this.attributeTypes[key].name
                )),
                (pair) => {
                    return {
                        name: pair[0],
                        value: pair[1]
                    };
                }
            );


        }
    }
</script>

<style>
    .info-table {
        width: 100%;
        position: relative;
        height: 70vh;
        overflow: auto;
    }
</style>
