<template>
    <b-row id="root">
        <b-col cols="8" id="right-side">
            <b-row class="graph-view">
                <GraphComponent
                        :graph="graph"
                        :nodeArchetypes="nodeArchetypes"
                        :edgeArchetypes="edgeArchetypes"
                        :attributeTypes="attributeTypes"
                        :selectedNodeId="selectedNodeId"
                        @selected="onNodeSelected($event)"
                        @expand="expandGraph($event)"
                ></GraphComponent>
            </b-row>
        </b-col>
        <b-col cols="4" id="left-side">
            <b-row>
                <SettingsView @generate="createInitialGraph($event)"></SettingsView>
            </b-row>
            <b-row class="info-view">
                <InfoView :selectedNode="selectedNode" :attributeTypes="attributeTypes"></InfoView>
                <!--                <b-button @click="doLayoutStep">Step</b-button>-->
            </b-row>
        </b-col>
    </b-row>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { TweenLite } from "gsap";
import GraphComponent from "@/components/graph/GraphComponent.vue";
import Graph from "@/model/Graph";
import GraphNode from "@/model/GraphNode";
import MockApiService from "@/services/MockApiService";
import ApiService from "@/services/ApiService";
import IArchetype from "@/model/IArchetype";
import IAttribute from "@/model/IAttribute";
import IGraphLayoutService from "@/services/algorithms/IGraphLayoutService";
import ForceBasedLayoutService from "@/services/algorithms/ForceBasedLayoutService";
import DefaultCoolingStrategy from "@/services/algorithms/annealing/DefaultCoolingStrategy";
import ExponentialCoolingStrategy from "@/services/algorithms/annealing/ExponentialCoolingStrategy";
import QSCoolingStrategy from "@/services/algorithms/annealing/QSCoolingStrategy";
import InfoView from '@/components/InfoView.vue';
import SettingsView from "@/components/SettingsView.vue";
import {CONSTANTS} from "@/Constants";

@Component({
    components: {
        GraphComponent,
        InfoView,
        SettingsView
    }
})

export default class MainView extends Vue {
    @Prop() focusNode!: GraphNode;

    private graph: Graph = new Graph([], []);
    private nodeArchetypes: IArchetype[] = [];
    private edgeArchetypes: IArchetype[] = [];
    private attributeTypes: IAttribute[] = [];

    private selectedNode: GraphNode | null = null;

    private apiService: ApiService = MockApiService.getInstance();
    private layoutService: IGraphLayoutService = new ForceBasedLayoutService(
        this.graph,
        new DefaultCoolingStrategy()
    );

    private displacementLimit: number = 500;

    mounted() {
        this.createInitialGraph({focusNodes: CONSTANTS.K_SEED_NODES_DEFAULT, initialSize: CONSTANTS.INITIAL_SUBGRAPH_SIZE});
        this.fetchMetadata();
    }

    createInitialGraph(event: any) {
        this.apiService.getInitialSubgraph(event).then(response => {
            const { nodes, edges, focusNodeIds, expandableNodeIds } = response;
            this.graph = new Graph(nodes, edges, focusNodeIds);
            this.graph.nodes.forEach(node => node.randomizePosition());
            this.graph.setExpandableAttributes(expandableNodeIds);
            this.layoutService = new ForceBasedLayoutService(
                this.graph,
                new QSCoolingStrategy(500, 50, 10, 10)
            );
            this.layoutService.layoutGraph();
            this.graph.animateToTargetPositions();
        });
    }

    fetchMetadata() {
        this.apiService.getNodeArchetypes().then(nodeArchetypes => {
            this.nodeArchetypes = nodeArchetypes;
        });
        this.apiService.getEdgeArchetypes().then(edgeArchetypes => {
            this.edgeArchetypes = edgeArchetypes;
        });
        this.apiService.getAttributeTypes().then(attributeTypes => {
            this.attributeTypes = attributeTypes;
        });
    }

    onNodeSelected(event: any) {
        this.selectedNode = event;
    }

    expandGraph(event: any) {
        // console.log('Expanding graph...', event);
        this.apiService
            .getExpandedSubgraph(this.graph, event)
            .then(response => {
                const { nodes, edges, expandableNodeIds } = response;
                // console.log("new nodes", nodes);
                // console.log("new edges", edges);
                this.graph.expand(nodes, edges);
                this.graph.setExpandableAttributes(expandableNodeIds);
                this.layoutService = new ForceBasedLayoutService(
                    this.graph,
                    new QSCoolingStrategy(100, 50, 10, 10)
                );
                setTimeout(() => {
                    this.graph.makeNodesVisible();
                }, CONSTANTS.TRANSITION_INTERVAL_MILLIS);
                this.layoutService.layoutGraph();
                this.graph.animateToTargetPositions();
            });
    }

    get selectedNodeId() {
        return this.selectedNode ? this.selectedNode.id : -1;
    }

    doLayoutStep() {
        this.layoutService = new ForceBasedLayoutService(
            this.graph,
            new ExponentialCoolingStrategy(this.displacementLimit, 1)
        );
        this.layoutService.layoutGraph();
        this.displacementLimit = Math.max(50, this.displacementLimit - 50);
    }
}
</script>

<style scoped>
#root {
    margin: 0;
    padding: 5vh 5vw;
}
#left-side {
    background-color: #78bcc4;
}
#right-side {
    /*background-color: #002c3e;*/
    background: #f7f8f3;
}
.graph-view {
    height: 90vh;
}
</style>
