<template>
    <b-row class="view">
        <b-col cols="10" offset="1">
            <b-form @submit.prevent="performSearch">
                <b-input-group class="m-auto">
                    <b-form-input type="search" v-model="searchQuery"></b-form-input>
                    <b-button type="submit" variant="warning">Search</b-button>
                </b-input-group>
            </b-form>
            <b-alert :show="hasError" variant="danger">
                Search query must have at least {{ MIN_QUERY_LENGTH }} alphanumeric characters.
            </b-alert>
            <b-list-group class="results" v-if="!hasError">
                <b-list-group-item v-for="(node, i) in nodes" :key="node.id"
                                   :variant="isSelected(i) ? 'success' : 'dark'"
                                    @dblclick="selectNode(i)">
                    <span class="node-list-item">
                        <span class="node-archetype">
                            ({{ getNodeArchetypeName(i) }})
                        </span>
                        <span class="node-name">{{ getNodeName(i) }}</span>
                    </span>
                </b-list-group-item>
            </b-list-group>
        </b-col>
    </b-row>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import MockApiService from "@/services/MockApiService";
    import INode from '@/model/INode';
    import ApiService from "@/services/ApiService";
    import IArchetype from "@/model/IArchetype";
    import {CONSTANTS} from "@/Constants";
    import IAttribute from "@/model/IAttribute";

    @Component({
        components: {
        },
    })
    export default class SearchView extends Vue {

        MIN_QUERY_LENGTH = CONSTANTS.SEARCH_QUERY_MIN_LENGTH;

        private apiService: ApiService = MockApiService.getInstance();

        private nodeArchetypes: IArchetype[] = [];
        private attributeTypes: IAttribute[] = [];

        private nodes: INode[] = [];
        private selectedIndex: number = -1;

        private kSeedNodes = CONSTANTS.K_SEED_NODES_DEFAULT;

        private searchQuery: string = "";
        private hasError: boolean = false;

        mounted() {
            this.fetchMetadata();
            this.fetchInterestingNodes();
        }

        private fetchMetadata() {
            this.apiService.getNodeArchetypes()
                .then((nodeArchetypes) => {
                    this.nodeArchetypes = nodeArchetypes;
                });
            this.apiService.getAttributeTypes()
                .then((attributeTypes) => {
                    this.attributeTypes = attributeTypes;
                });
        }

        private fetchInterestingNodes() {
            this.apiService.getKMostInterestingNodes(this.kSeedNodes)
                .then((nodes) => {
                    this.nodes = nodes;
                    this.selectedIndex = -1;
                });
        }

        private performSearch() {
            const query = this.searchQuery;
            if (ApiService.validateTextQuery(query)) {
                this.hasError = false;
                this.apiService.findNodesByTextQuery(query)
                    .then((nodes) => {
                        this.nodes = nodes;
                        this.selectedIndex = -1;
                    });
            } else {
                this.hasError = true;
            }
        }

        private isSelected(index: number): boolean {
            return index === this.selectedIndex;
        }

        private selectNode(index: number) {
            this.selectedIndex = index;
            this.$emit('nodeSelect', this.nodes[index]);
        }

        private getArchetypeName(index: number): string {
            const node = this.nodes[index];
            const archetype = this.nodeArchetypes[node.archetype];
            return archetype ? archetype.name : '';
        }

        private getNodeName(index: number): string {
            const node = this.nodes[index];
            return node.attributes[this.nameAttributeIndex] || node.title;
        }

        private get nameAttributeIndex(): number {
            return this.attributeTypes.findIndex((a) => a.name === "Name");
        }

    }
</script>

<style scoped>
    .view {
        height: 90vh;
        padding-top: 50px;
    }
    .results {
        height: calc(90vh - 150px);
        overflow-y: auto;
        margin-top: 20px;
    }
</style>
