<template>
    <div class="settings-bar">
        <label for="range-0">Number of focus nodes: {{ focusNodes }}</label>
        <b-form-input id="range-0"
                      v-model="focusNodes"
                      type="range"
                      :min="focusNodesMin"
                      :max="focusNodesMax">
        </b-form-input>
        <label for="range-1">Number of initial nodes: {{ initialSize }}</label>
        <b-form-input id="range-1"
                      v-model="initialSize"
                      type="range"
                      :min="initialSizeMin"
                      :max="initialSizeMax">
        </b-form-input>
        <b-button @click="generateClicked">Generate graph</b-button>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import {CONSTANTS} from "../Constants";

    @Component({
        components: {}
    })
    export default class SettingsView extends Vue {

        private focusNodesMin: number = CONSTANTS.K_SEED_NODES_MIN;
        private focusNodesDefault: number = CONSTANTS.K_SEED_NODES_DEFAULT;
        private focusNodesMax: number = CONSTANTS.K_SEED_NODES_MAX;
        private initialSizeMin: number = CONSTANTS.INITIAL_SUBGRAPH_SIZE_MIN;
        private initialSizeDefault: number = CONSTANTS.INITIAL_SUBGRAPH_SIZE;
        private initialSizeMax: number = CONSTANTS.INITIAL_SUBGRAPH_SIZE_MAX;

        private focusNodes: number = this.focusNodesDefault;
        private initialSize: number = this.initialSizeDefault;

        generateClicked() {
            this.$emit('generate', {focusNodes: this.focusNodes, initialSize: this.initialSize});
        }
    }
</script>

<style scoped>
    .settings-bar {
        width: 90vh;
        margin: 1vh 5vh 0 5vh;
        height: 20vh;
    }
</style>
