<template>
  <div id="app">
      <MainView></MainView>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import BootstrapVue from 'bootstrap-vue';
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import MainView from '@/components/MainView.vue';
import GraphNode from "@/model/GraphNode";

Vue.use(BootstrapVue);

@Component({
  components: {
      MainView,
  },
})
export default class App extends Vue {
    focusNode: GraphNode = new GraphNode({});
}
</script>

<style>
    @import "https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css";
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: #000000;
}
</style>
